
/* BODY */

body {
    background-color: rgb(55, 48, 85);
    font-family: Arial, Helvetica, sans-serif;
}


/* TITLE */

h1#registration_title {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 3em;
    padding-bottom: 1rem;
    margin: 0;
}


/* FORM */

form#registration_form {
    background-color: white;
    width: 340px;
    border-radius: 10px;
    padding: 15px 10px;
    margin: auto;
    overflow: auto;
}


/* INPUT FIELDS */

form#registration_form input[type=text] {
    width: 100%;
    padding: 3px 0px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px black;
    outline: none;
}

form#registration_form input[type=text]:focus {
    background-color: blanchedalmond;
    border: solid 1px grey;
}


/* SUBMIT BUTTON */

form#registration_form input[type=submit] {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 6px 10px;
    float: right;
    text-decoration: none;
    cursor: pointer;
}

form#registration_form input[type=submit]:hover {
    background-color: rgb(45, 14, 75);
    color: white;
}

form#registration_form input[type=submit]:focus {
    background-color: rgb(109, 98, 121);
    color: white;
}


/* MEDIA QUERIES */

/* use media query to change the width of the form to the 
width of the screen with the screen width is less than 360px  */

@media screen and (max-width: 360px) {
    form#registration_form {
        width: 90%;
    }    
}